*{
	box-sizing:border-box;	
}
body,li,ul,dl,dt,dd {margin:0;padding:0;}
body {
	position:relative;
	width:100%;
	overflow-x:hidden;
}
.blz-danmu-stop {
	transition-duration:999999999999999s !important;
	}
.blz-danmu {
	position:absolute;
	top:0;
	width:100%;
	padding-top:20px;
	-webkit-transform:translateX(100%);
	transform:translateX(100%);
	}
.blz-danmu dl {
	position:absolute;
	top:0;
	left:0;
	-webkit-transition:-webkit-transform 20s cubic-bezier(0.5, 0.5, 0.5, 0.5);
	transition:transform 20s cubic-bezier(0.5, 0.5, 0.5, 0.5);
	}
.blz-danmu li {
	position:relative;
	height:118px;
	padding:20px 0;
	list-style:none;
	}	
.blz-dial-title img {
	display:block;
	width:100%;
	height:100%;
	}	
.blz-dial-title {
	position:absolute;
	top:50%;
	margin-top:-50px;
	height:100px;
	width:100px;
	border-radius:50px;
	overflow:hidden;
	border:5px solid #ff8040;
	z-index:10;
	}	
.blz-dial-para {
	font-size:40px;
	white-space:nowrap;
	padding: 14px 30px 14px 0;
	line-height:1;
	text-indent:120px;
	border-radius:48px;
	border:5px solid #ff8040;
	background-color:#fff;
	box-shadow: inset 0px 0px 10px #dadada;
	}